<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608959265280-kt74prhunrf35no51tdjaslrfif28uuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608959265280-kt74prhunrf35no51tdjaslrfif28uuc</string>
	<key>API_KEY</key>
	<string>AIzaSyCSi-8rEdqm98YZQX4xFkthxnKSrnBt8is</string>
	<key>GCM_SENDER_ID</key>
	<string>608959265280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.isai.Agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-bcdb2</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-bcdb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608959265280:ios:5e7e22c0dc98cac7d7b6e5</string>
</dict>
</plist>